.footer {
  margin-top: 120px;
}
.footer__top,
.footer__middle,
.footer__bottom {
  display:flex;
  justify-content: space-between;
}
.footer__middle {
  margin-top:15px;
  margin-bottom: 35px;
  .header__social_links {
      position:relative;
  }
}
.footer__bottom {
  align-items: flex-end;
  div {
    font-size:$linkSize;
    color:$whiteOpacity;
  }
  .contact_us>div {
    margin-bottom:10px;
  }
  .footer__rating {
    display: flex;
    align-items: center;
  }
  .footer__office {
    color:$yellow;
    opacity:0.8;
  }
  .developer {
    margin-bottom:10px;
  }
  .developer a {
    text-decoration: none;
    color:$whiteOpacity;
    font-size: $linkSize;
  }
}
@media (max-width:1199px) {
  .footer__top {
    margin-bottom:43px;
    flex-wrap: wrap;
    >div {
      width:100%;
    }
    .menu__menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div {
        margin:0;
        margin-bottom:10px;
        width:50%;
      }
      >div:nth-of-type(2n) {
        margin-right:-25px;
      }
      a {
        font-size:12px;
      }

    }
  }
  .footer__middle {
    flex-wrap: wrap;
    justify-content: flex-start;
    >div {
      width:100%;
    }
    .footer__partners {
      margin-bottom:15px;
    }
  }
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: flex-start;
    >div {
      width:100%;
    }
    .contact_us {
      .footer__office {
        margin-bottom:30px;
      }
      .footer__rating {
        margin-bottom:25px;
      }
    }
    .developer {
      margin-bottom:40px;
    }
  }
}
