.header {
  padding-top: 50px;
  position:relative;
}
.header__menu {
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  .small-logo {
    display: none;
  }
}
.header__menu.fixed-menu {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  justify-content: center;
  z-index:100;
  background-color: rgba(27, 49, 75, 0.9);
  padding:15px 0;
  .big-logo {
    display:none;
  }
  .small-logo {
    display: block;
  }
}
.menu__menu>div {
  display: inline-block;
}
.menu__logo {
  margin-right:$Gap;
}
.menu__item {
  margin-right: $menuLinkGap;
}
.menu__item a {
  color:$whiteOpacity;
  @include defaultLink($linkSize);
}
.menu__item a:hover {
  color:$yellow;
}
.menu__phone {
  margin-left: 36px;
  margin-right: 18px;
}
.menu__phone a {
  color:$yellow;
  @include defaultLink($textSize);
}
.menu__idea {
  height: 30px;
  position: relative;
}
.submit-idea {
  margin-bottom:6px;
}
.submit-idea--absolute {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header .btn:hover {
  color:#000000;
  background-color:$yellowHover;
}
.btn:hover .bg-arrowYellow {
  background-position: -267px -96px;
}
.btn:hover {
  color:#000000;
}
.header__content {
  margin-top:136px;
  max-width: $colWidth * 6 + $Gap * 5;
  margin-left: auto;
}
.header__content p {
  line-height: 26px;
  letter-spacing: -0.1px;
}
.header__content_header {
  letter-spacing: normal;
  color:$white;
  font-size:64px;
  line-height: 60px;
  margin-bottom:26px;
}
.header__content .bg-mouse {
  margin-top:198px;
}
.header__social_links {
  position:absolute;
  bottom:0;
}
.header__social_links > a {
  margin-right:5px;
  opacity:1;
  transition: opacity ease-out 0.2s;
}
.header__social_links > a:hover {
  opacity:0.5;
}
.submit-idea--absolute {
  overflow: hidden;
  height:0;
  transition: height ease-out 0.2s;
}
.showMenu {
  height: 100px;
  z-index:99;
}
.menu_burger {
  display:none;
}

@media (max-width:1199px) {
  .mobile__menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    z-index:110;
    top:0;
    left:-100vw;
    width:100vw;
    height:100%;
    transition: left ease-out 0.3s;
    background-color: rgba(1,23,45,0.9);
    >div {
      width:100%;
    }
    .mobile__menu-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu__phone {
        margin-left:0;
      }
    }
    .menu__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      >div {
        margin-bottom:17px;
      }
    }
  }
  .show-mobile-menu {
    left:0!important;
  }
  .menu_burger {
    display:block;
  }
  .header {
    padding-top:15px;
  }
  .header__menu {
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      margin:0;
    }
    .menu__idea {
      width:100%;
      margin-top:16px;
      .submit-idea--absolute {
        width:100%;
      }
      .submit-idea {
        display: block;
        margin:0 auto;
        text-align: center;
        width:100%;
      }
    }
  }
  .header__content {
    max-width:100%;
    margin-top:45px;
    .bg-mouse {
      margin-top:15px;
      margin-bottom: 100px;
    }
    .header__content_header {
      font-size:36px;
      margin-bottom:15px;
    }
  }
}
