.reviews-wrapper {
  margin-top:96px;
  position:relative;
}
.reviews-title {
  margin-bottom:26px;
}
.review-item-title {
  text-transform: uppercase;
  margin-bottom:16px;
}
.review-item-text {
  line-height: 23px;
}
.reviews-wrapper .swiper-container {
  padding-bottom:25px;
}
.reviews-wrapper .swiper-container .swiper-pagination {
  bottom:0;
}
.reviews-wrapper .swiper-pagination-bullet {
  background-color: $yellow;
  opacity: 0.3;
  width:25px;
  height:2px;
  border-radius: 0;
  border:0;
  transition: opacity ease-out 0.2s;
}
.reviews-wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.reviews-wrapper .swiper-button {
  position: absolute;
  top:50%;
  transform: translate(-50%);
  cursor:pointer;
  opacity: 0.3;
  transition: opacity ease-out 0.2s;
}
.reviews-wrapper .swiper-button:hover {
  opacity:1;
}
.reviews-wrapper .swiper-button.swiper-button-disabled:hover {
  opacity:0.3;
}
.reviews-wrapper .button-prev {
  left:60px;
  transform: rotate(180deg) translate(-50%);
}
.reviews-wrapper .button-next {
  right:60px;
}
@media (max-width:1199px) {
  .reviews-wrapper .swiper-button {
    display: none;
  }
  .reviews-wrapper .swiper-container .swiper-pagination {
    text-align: left;
  }
}
