//Размеры шрифтов
$linkSize: 14px;
$textSize: 16px;
$headerTextSize:32px;

//Цвета
$backgroundBody: #050713;
$grayOpacity: rgba(27, 49, 75, 0.75);
$gray: #2D3A52;
$whiteOpacity: rgba(255, 255, 255, 0.8);
$white: #ffffff;
$yellow: #FFE195;
$yellowHover: #E7CC89;
$blackOpacity: rgba(14, 20, 32, 0.8);
$black: #0E1420;

//Отступы
$colWidth: 80px;
$Gap: 20px;
$containerPaddings: 110px;
$menuLinkGap: 20px;
