@font-face{
font-family: 'Signika';
src: url('../fonts/signika/Signika-Regular.woff');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Signika';
src: url('../fonts/signika/Signika-Bold.woff');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'Playfair';
src: url('../fonts/playfair/PlayfairDisplay-Bold.woff');
font-weight: bold;
font-style: normal;
}

$signika: Signika;
$Playfair: Playfair;
