$sourceSprite: url('../img/css_sprites.png');
.bg-arrowBlack {
    display: inline-block;
    margin-right: 11px;
    width: 14px; height: 9px;
    background:$sourceSprite -267px -96px;
}
.bg-arrowYellow {
    display: inline-block;
    margin-right: 11px;
    width: 14px; height: 9px;
    background:$sourceSprite -267px -125px;
}
.bg-bigArrow {
    width: 12px; height: 20px;
    background:$sourceSprite -267px -56px;
}
.bg-corner {
    display: inline-block;
    width: 57px; height: 57px;
    background:$sourceSprite -10px -93px;
}
.bg-FaceBookIcon {
    display: inline-block;
    width: 26px; height: 26px;
    background:$sourceSprite -211px -170px;
}
.bg-GooglePlusIcon {
    display: inline-block;
    width: 26px; height: 26px;
    background:$sourceSprite -267px -10px;
}
.bg-Home {
    display: inline-block;
    width: 71px; height: 45px;
    background:$sourceSprite -176px -10px;
}
.bg-Idea {
    display: inline-block;
    width: 57px; height: 57px;
    background:$sourceSprite -87px -93px;
}
.bg-List {
    display: inline-block;
    width: 45px; height: 57px;
    background:$sourceSprite -10px -170px;
}
.bg-medal {
    display: inline-block;
    width: 65px; height: 63px;
    background:$sourceSprite -10px -10px;
}

.bg-mouse {
    display: inline-block;
    width: 22px; height: 36px;
    background:$sourceSprite -75px -170px;
}

.bg-pot {
    display: inline-block;
    width: 45px; height: 67px;
    background:$sourceSprite -176px -75px;
}

.bg-reference {
    display: inline-block;
    width: 61px; height: 63px;
    background:$sourceSprite -95px -10px;
}

.bg-SocialIcon {
    display: inline-block;
    width: 27px; height: 26px;
    background:$sourceSprite -117px -170px;
}
.bg-TwitterIcon {
    display: inline-block;
    width: 27px; height: 26px;
    background:$sourceSprite -164px -170px;
}
