<div class="blog container">
  <div class="blog__header h1">
    The Latest News From Our Blog
  </div>
  <div class="blog__news-container swiper-container">
    <div class="blog__news swiper-wrapper">
      <a href="javascript:void(0)" class="news__item swiper-slide">
        <div class="news__item-image">
          <div class="yellow-filter"></div>
          <img src="img/news1.jpg" alt="">
        </div>
        <div class="news__item-date">
          Jun. 22 2018
        </div>
        <div class="news__item-title h2">
          How To Increase Your ROI By Generating Star Patents In Your Portfolio?
        </div>
        <div class="news__item-text h2">
          The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to the crown.
        </div>
        <div class="btn hidden-lg show-md ">STARTING A BUSINESS</div>
      </a>
      <a href="javascript:void(0)" class="news__item swiper-slide">
        <div class="news__item-image">
          <div class="yellow-filter"></div>
          <img src="img/news2.jpg" alt="">
        </div>
        <div class="news__item-date">
          Jun. 22 2018
        </div>
        <div class="news__item-title h2">
          5 Types Of Patent Examiners You Should Know
        </div>
        <div class="news__item-text h2">
          Innovation often starts with a “light bulb moment”. One works on his idea and then from idea, he moves to invention, and in the end to a patent application.
        </div>
        <div class="btn hidden-lg show-md ">STARTING A BUSINESS</div>
      </a>
      <a href="javascript:void(0)" class="news__item swiper-slide">
        <div class="news__item-image">
          <div class="yellow-filter"></div>
          <img src="img/news3.jpg" alt="">
        </div>
        <div class="news__item-date">
          Jun. 22 2018
        </div>
        <div class="news__item-title h2">
          How To Decrease Grant Time Using Simple Analytics
        </div>
        <div class="news__item-text h2">
          Getting an application granted on the first go is like a dream come true.
        </div>
        <div class="btn hidden-lg show-md ">STARTING A BUSINESS</div>
      </a>
      <a href="javascript:void(0)" class="news__item swiper-slide">
        <div class="news__item-image">
          <div class="yellow-filter"></div>
          <img src="img/news4.jpg" alt="">
        </div>
        <div class="news__item-date">
          Jun. 22 2018
        </div>
        <div class="news__item-title h2">
          How To Perform A Comprehensive Trademark Search?
        </div>
        <div class="news__item-text h2">
          Joe came up with a great name for his soon-to-be-released product. He is proud of the selection and cannot wait to share it with the world.
        </div>
        <div class="btn hidden-lg show-md ">STARTING A BUSINESS</div>
      </a>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
