<div class="footer container">
  <div class="footer__top">
    <div class="menu__menu">
      <div class="menu__item">
        <a href="javascript:void(0);">Who We Are</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">What We Do</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">Patenting Process</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">FAQ</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">Submit Your Idea Now</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">Fee Structure</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">Contact</a>
      </div>
      <div class="menu__item">
        <a href="javascript:void(0);">Blog</a>
      </div>
    </div>
    <div class="menu__idea">
      <div class="submit-idea btn btn--yellow">
        <span class="bg-arrowBlack"></span><span>Submit Your Idea Now</span>
      </div>
      <div class="submit-idea--absolute">
        <div class="submit-idea btn btn--black">
          <span class="bg-arrowYellow"></span><span>CONTACT US</span>
        </div>
        <div class="submit-idea btn btn--black">
          <span class="bg-arrowYellow"></span><span>View  Our Services</span>
        </div>
        <div class="submit-idea btn btn--black">
          <span class="bg-arrowYellow"></span><span>Download Patent Overview</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__middle">
    <div class="footer__partners">
      <img src="img/NAPP.png" alt="">
    </div>
    <div class="header__social_links">
      <a href="javascript:void(0);" class="bg-FaceBookIcon"></a>
      <a href="javascript:void(0);" class="bg-TwitterIcon"></a>
      <a href="javascript:void(0);" class="bg-SocialIcon"></a>
      <a href="javascript:void(0);" class="bg-GooglePlusIcon"></a>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="contact_us">
      <div class="footer__rating">
        <span>Company rating:</span>&nbsp;<img src="img/rating.png" alt="">
      </div>
      <div class="footer__adress">
        Benjamin Williams, Registered Patent Agent, Reg. No. 70416
      </div>
      <div class="footer__office">
        Office: 1-888-357-1068. Fax: (720) 328-5297
      </div>
    </div>
    <div class="developer">
      <a href="javascript:void(0);">Web Design – Direct Line Development</a>
    </div>
  </div>
</div>
