<div class="mobile__menu hidden-lg">
  <div class="mobile__menu-top">
    <div class="menu__logo">
      <a href="javascript:void(0);"><img class="big-logo" src="img/logo.png" alt="DirectLine"></a>
    </div>
    <div class="menu__phone">
      <a href="tel:+18883571068">1-888-357-1068</a>
    </div>
    <img class="menu_close" src="img/close.png" alt="">
  </div>
  <div class="menu__menu">
    <div class="menu__item">
      <a href="javascript:void(0);">Who We Are</a>
    </div>
    <div class="menu__item">
      <a href="javascript:void(0);">What We Do</a>
    </div>
    <div class="menu__item">
      <a href="javascript:void(0);">Patenting Process</a>
    </div>
    <div class="menu__item">
      <a href="javascript:void(0);">FAQ</a>
    </div>
    <div class="menu__item">
      <a href="javascript:void(0);">Fee Structure</a>
    </div>
    <div class="menu__item">
      <a href="javascript:void(0);">Contact</a>
    </div>
    <div class="menu__item">
      <a href="javascript:void(0);">Blog</a>
    </div>
  </div>
  <div class="submit-idea--mobile">
    <div class="submit-idea btn btn--black">
      <span class="bg-arrowYellow"></span><span>CONTACT US</span>
    </div>
    <div class="submit-idea btn btn--black">
      <span class="bg-arrowYellow"></span><span>View  Our Services</span>
    </div>
    <div class="submit-idea btn btn--black">
      <span class="bg-arrowYellow"></span><span>Download Patent Overview</span>
    </div>
  </div>
</div>

<header class="header container">
  <div class="header__menu">
      <div class="menu__logo">
        <a href="javascript:void(0);"><img class="big-logo" src="img/logo.png" alt="DirectLine"><img class="small-logo" src="img/smallLogo.png" alt="DirectLine"></a>
      </div>
      <div class="menu__menu hidden-md">
        <div class="menu__item">
          <a href="javascript:void(0);">Who We Are</a>
        </div>
        <div class="menu__item">
          <a href="javascript:void(0);">What We Do</a>
        </div>
        <div class="menu__item">
          <a href="javascript:void(0);">Patenting Process</a>
        </div>
        <div class="menu__item">
          <a href="javascript:void(0);">FAQ</a>
        </div>
        <div class="menu__item">
          <a href="javascript:void(0);">Fee Structure</a>
        </div>
        <div class="menu__item">
          <a href="javascript:void(0);">Contact</a>
        </div>
        <div class="menu__item">
          <a href="javascript:void(0);">Blog</a>
        </div>
      </div>
      <div class="menu__phone">
        <a href="tel:+18883571068">1-888-357-1068</a>
      </div>
      <img class="menu_burger" src="img/burger.png" alt="">
      <div class="menu__idea">
        <div class="submit-idea btn btn--yellow">
          <span class="bg-arrowBlack"></span><span>Submit Your Idea Now</span>
        </div>
        <div class="submit-idea--absolute">
          <div class="submit-idea btn btn--black">
            <span class="bg-arrowYellow"></span><span>CONTACT US</span>
          </div>
          <div class="submit-idea btn btn--black">
            <span class="bg-arrowYellow"></span><span>View  Our Services</span>
          </div>
          <div class="submit-idea btn btn--black">
            <span class="bg-arrowYellow"></span><span>Download Patent Overview</span>
          </div>
        </div>
      </div>
  </div>
  <div class="header__content">
    <p class="header__content_header">
      We Win Patents
    </p>
    <p class="h2">
      "The Congress shall have the power... to promote the progress of science and useful arts, by securing for limited times to authors and inventors the exclusive right to their respective writings and discoveries.” US Constitution § 8, Clause 8
    </p>
    <div class="bg-mouse"></div>
  </div>
  <div class="header__social_links hidden-md">
    <a href="javascript:void(0);" class="bg-FaceBookIcon"></a>
    <a href="javascript:void(0);" class="bg-TwitterIcon"></a>
    <a href="javascript:void(0);" class="bg-SocialIcon"></a>
    <a href="javascript:void(0);" class="bg-GooglePlusIcon"></a>
  </div>
</header>
