<div class="offers container">
  <div class="offers__title h1">
    We Can Help With
  </div>
  <div class="offers__items">
    <div class="offers__item">
      <div class="offers__item-icons">
        <div class="bg-Home"></div>
      </div>
      <div class="offers__item-title h2">
        Utility Patents
      </div>
      <div class="offers__item-text h2 hidden-md">
        Utility patents offer the broadest protection for any new or useful process, machine, manufacture, or composition of matter.
      </div>
      <a href="javascript:void(0);" class="offers__item-more btn hidden-md">
        Lear more
      </a>
    </div>
    <div class="offers__item">
      <div class="offers__item-icons">
        <div class="bg-corner"></div>
      </div>
      <div class="offers__item-title h2">
        Design Patents
      </div>
      <div class="offers__item-text h2 hidden-md">
        Design patents protect the way something looks, not the structural components informing the device.
      </div>
      <a href="javascript:void(0);" class="offers__item-more btn hidden-md">
        Lear more
      </a>
    </div>
    <div class="offers__item">
      <div class="offers__item-icons">
        <div class="bg-List"></div>
      </div>
      <div class="offers__item-title h2 ">
        Provisional Patents
      </div>
      <div class="offers__item-text h2 hidden-md">
        A provisional patent is a temporary filing, filed under 35 USC 111(b), used to secure the benefit of a filing date.
      </div>
      <a href="javascript:void(0);" class="offers__item-more btn hidden-md">
        Lear more
      </a>
    </div>
    <div class="offers__item">
      <div class="offers__item-icons">
        <div class="bg-pot"></div>
      </div>
      <div class="offers__item-title h2">
        Plant Patents
      </div>
      <div class="offers__item-text h2 hidden-md">
        Plant patents are granted to an inventor who has invented or discovered, and asexually reproduced a distinct and new variety of plant.
      </div>
      <a href="javascript:void(0);" class="offers__item-more btn hidden-md">
        Lear more
      </a>
    </div>
    <div class="offers__item">
      <div class="offers__item-icons">
        <div class="bg-medal"></div>
      </div>
      <div class="offers__item-title h2 ">
        Trademarks
      </div>
      <div class="offers__item-text h2 hidden-md">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      </div>
      <a href="javascript:void(0);" class="offers__item-more btn hidden-md">
        Lear more
      </a>
    </div>
    <div class="offers__item">
      <div class="offers__item-icons">
        <div class="bg-Idea"></div>
      </div>
      <div class="offers__item-title h2">
        Worldwide Web
      </div>
      <div class="offers__item-text h2 hidden-md">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      </div>
      <a href="javascript:void(0);" class="offers__item-more btn hidden-md">
        Lear more
      </a>
    </div>
  </div>
</div>
