<section class="reviews-wrapper container">
  <div class="reviews-title h1">
    What Our Clients Say
  </div>
  <div class="swiper-container reviews-container">
    <div class="reviews-content swiper-wrapper">
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          Robert, Richmond Hill NY
        </div>
        <div class="review-item-text h2">
          Thank you very much Ben for your hard work on getting our patent filed so quickly!”
        </div>
      </div>
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          John, Pensacola FL
        </div>
        <div class="review-item-text h2">
          Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent. From start to finish you have been there to answer any question we had and we can’t thank you enough.”
        </div>
      </div>
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          Srinivas, Dublin OK
        </div>
        <div class="review-item-text h2">
          Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent.
        </div>
      </div>
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          Robert, Richmond Hill NY
        </div>
        <div class="review-item-text h2">
          Thank you very much Ben for your hard work on getting our patent filed so quickly!”
        </div>
      </div>
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          Srinivas, Dublin OK
        </div>
        <div class="review-item-text h2">
          Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent.
        </div>
      </div>
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          Robert, Richmond Hill NY
        </div>
        <div class="review-item-text h2">
          Thank you very much Ben for your hard work on getting our patent filed so quickly!”
        </div>
      </div>
      <div class="review-item swiper-slide">
        <div class="review-item-title h2">
          John, Pensacola FL
        </div>
        <div class="review-item-text h2">
          Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent. From start to finish you have been there to answer any question we had and we can’t thank you enough.”
        </div>
      </div>
    </div>
     <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button bg-bigArrow button-prev"></div>
  <div class="swiper-button bg-bigArrow button-next"></div>
</section>
