<div class="thanks container">
  <div class="thanks__wrapper">
    <div class="thanks__light">
      <img src="img/light.png" alt="">
    </div>
    <div class="thanks__header h1">
      Thank you for Choosing Williams Intellectual Property
    </div>
    <div class="thanks__text h2">
      We’re here to help you through the complex labyrinth and changing landscape of the United States Patent and Trademark Office. Let us leverage our expertise and help you, from paper to marketplace.
    </div>
    <a href="javascript:void(0)" class="btn2">
      Lear more
    </a>
  </div>
</div>
