body {
  font-family: Signika;
  background: $backgroundBody;
  position:relative;
  overflow-x: hidden;
}
p {
  margin:0;
  padding:0;
}
* {
  box-sizing: border-box;
  outline: none;
}
.container {
  max-width:1400px;
  margin:0 auto;
  padding-left: $containerPaddings;
  padding-right: $containerPaddings;
}
.h1 {
  font-size: $headerTextSize;
  font-family: $Playfair;
  color:$white;
}
.h2 {
  font-size: $textSize;
  font-family: $signika;
  color:$whiteOpacity;
}
.background-top {
  position:absolute;
  top: 0;
  left: 0;
  z-index:-1;
  width:100%;
  padding-bottom:68%;
  background-image: url('../img/mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.background-middle {
  position:absolute;
  top: 1692px;
  left: 0;
  z-index:-1;
  width:100%;
  height:36.5%;
  background-image: url('../img/nightSky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.background-bottom {
  position:absolute;
  bottom: 0;
  left: 0;
  z-index:-1;
  width:100%;
  padding-top:290px;
  background-image: url('../img/podval.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.btn {
  @include defaultBtn(30px, $linkSize)
}
.btn:hover {
  background-color:#E7CC89;
}
.btn2 {
  @include defaultBtn2(50px, $linkSize)
}
.btn2:hover {
  @include defaultBtn2Hover
}
.btn--yellow {
  color: #000000;
  background-color: $yellow;
}
.btn--black {
  color: $yellow;
  background-color: $blackOpacity;
}
.hidden-lg {
  display: none;
}
@media (max-width:1399px) {
  .show-md {
    display: inline-block;
  }
  .container {
    max-width:1200px;
    margin:0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width:1199px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hidden-md {
    display:none!important;
  }
  .background-top {
    padding-bottom: 0;
    height:680px;
  }
  .background-bottom {
    padding-top:539px;
  }
  .h1 {
    font-size:26px;
  }
  .btn2 {
    @include defaultBtn2Hover
  }
}
@media (max-width:600px) {
  .background-bottom {
    background-image: url('../img/backMob.png');
  }
}
